# 로그 파일 무시
*.log
*.pyc

*.h5

# 캐시 폴더 무시
__pycache__/


# 환경설정 파일 무시
config/settings.json

# 특정 폴더 내 모든 파일 무시
faces/
hugging/faces/
__pycache__/
flask_session/
files/

best_vggface_model_backup_epoch3.h5
